/* Simple Reset */
body, h1, h2, h3, p, img, a, nav {
    margin: 0;
    padding: 0;
  }
  
  /* body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: white;
    color: #333;
  } */
  
 /* Common */
body {
  margin: 0;
  font-family: 'Segoe UI', sans-serif;
  background-color: white;
  color: #333;
}

/* Navbar */
header {
  background-color: #e9f5ec; /* light green background */
  padding: 10px 50px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

header .logo img {
  height: 120px;
}

nav {
  display: flex;
  gap: 30px;
}

nav a {
  color: #004d26;
  text-decoration: none;
  font-weight: 600;
  position: relative;
  padding-bottom: 5px;
}

nav a:hover,
nav a.active {
  border-bottom: 2px solid #009933;
}

/* Footer */
footer {
  background-color: #1b2c20;
  color: #d6e9da;
  padding: 40px 60px;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  font-size: 14px;
}

footer h4 {
  color: #a7e1b6;
  margin-bottom: 10px;
}

footer p, footer a {
  color: #ccecd9;
  text-decoration: none;
}

footer a:hover {
  text-decoration: underline;
}

.footer-bottom {
  width: 100%;
  text-align: center;
  border-top: 1px solid #ccc;
  margin-top: 20px;
  padding-top: 15px;
  color: #b1cdbc;
}

  /* Image Slider */
  .slider {
    position: relative;
    height: 600px;
    overflow: hidden;
  }
  
  .slider img {
    width: 100%;
    height: 750px;
    object-fit: cover;
    display: none;
  }
  
  .slider img.active {
    display: block;
  }
  
  /* Company name & description */
  .intro {
    text-align: center;
    padding: 30px 20px;
    background-color: #f9f9f9;
  }
  
  .intro h2 {
    margin-bottom: 10px;
    color: #006400; /* Green color */
  }
  
  /* Image Gallery */
  .gallery {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 15px;
    padding: 20px;
  }
  
  .gallery img {
    width: 100%;
    height: 200px;
    object-fit: cover;
  }
  
  /* About Section */
  .about {
    background-color: #f4f4f4;
    padding: 30px 20px;
    text-align: center;
  }
  
  .about h3 {
    color: #006400; /* Green color */
  }
  
  .about button {
    margin-top: 15px;
    padding: 10px 20px;
    background-color: #006400; /* Green color */
    color: white;
    border: none;
    cursor: pointer;
    border-radius: 5px;
  }
  
  .about button:hover {
    background-color: #004d00; /* Darker green */
  }
  
  /* Footer */
  /* footer {
    background-color: green;
    color: white;
    text-align: center;
    padding: 20px;
    margin-top: 20px;
  }
  
  footer p {
    margin: 5px 0;
  } */
  